body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f3f3f3;
}

.main-heading {
  color: #85656F;
  margin-top: 40px;
  font-weight: 800;
  font-size: 65px;
  line-height: 96px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.main-description {
  color: #083642;
  font-weight: 300;
  font-size: large;
}

.main-button {
  margin: 0 70px;
  padding: 15px;
  font-size: 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border: none;
  width: 15%;
}

.upload {
  padding: 10px;
  font-size: 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  border: none;
  width: 20%;
  float: right;
  margin-right: 30px;
  margin-top: 20%;
}

.element {
  display: inline-block;
  margin: 5rem;
  padding: 20px; 
  font-weight: bold;
  font-size: large;
  max-width: 10rem;
}

.text {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  max-width: 15rem;
  text-align: left;
  font-size: small;
  line-height: 25px;
}

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  margin: 5%;
  background: #FFFFFF;
  border: 3px dashed #000000;
  border-radius: 18px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.chatbox-messages {
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 300px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: red #ffa500;
}

.adiv{
	background: #ffa500;
	font-size: 12px;
	height: 50px;
  margin: 0px;
  padding: 0px;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 15%;
}

.message.assistant {
  align-self: flex-start;
  background-color: #F9EFCB;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
}

.message.user {
  align-self: flex-end;
  background-color: #CED4DA;
  border-radius: 10px;
  padding: 10px;
  max-width: 70%;
}